.chartpage {
    -webkit-user-select: none;
    //background-color: #d0e4fe;
}

.containerstyle {
    -webkit-user-select: none;
    height: 80%;
    width: 95%;
    //background-color: darkgray;
}

.ui-content {
    -webkit-user-select: none;
    //background-color: orange;
    background-image: url("../images/back4.jpg");
    opacity: 1;
}

.debug {
    -webkit-user-select: none;
    font-size: 14px
}

#win {
    display: none;
    position: absolute;
    top: 200px;
    left: 300px
}
/*[id|="button"] {
    visibility: hidden;
}*/
