
.chartpage {
    background-color: #d0e4fe;
}

.containerstyle {
    height: 300px;
    background-color: green;
    margin-left: 50px;
}

.ui-content {
    background-color: deepskyblue;
}

.debug {
    height: 400px;
    font-size: 14px
}